@model Talenter.Models.TALENTO
@{
    ViewBag.Title = "Details";
}
<h2>DETALLES DE LA CUENTA</h2>
<h4>Talento</h4>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CURRICULUM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CURRICULUM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RUBRO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RUBRO.DESCRIPCION)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar info", "Edit", new { id = Model.ID_TALENTO }) 

</p>
